<div>
  <h3>
    Bids Book
  </h3>
  <ngx-datatable
    class="dark"
    [rows]="bids"
    [loadingIndicator]="loadingIndicator"
    [columns]="bidColumns"
    [columnMode]="'force'"
    [headerHeight]="40"
    [footerHeight]="40"
    [limit]="20"
    [rowHeight]="'auto'"
    [reorderable]="reorderable">
  </ngx-datatable>
</div>
<div>
  <h3>
    Asks Book
  </h3>
  <ngx-datatable
    class="dark"
    [rows]="asks"
    [loadingIndicator]="loadingIndicator"
    [columns]="askColumns"
    [columnMode]="'force'"
    [headerHeight]="40"
    [footerHeight]="40"
    [limit]="20"
    [rowHeight]="'auto'"
    [reorderable]="reorderable">
  </ngx-datatable>
</div>
